<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Chat Room List</title>
        <%-include('../include/head')%>
        <%-include('../include/header')%>
        <link rel="stylesheet" href="/static/css/chatList.css" />
    </head>
    <body>
        <div class="container-out">
            <div><h3 class="container-name"><%=user.nickname%> Chat Room List</h3></div>

        <div class="container-in">
            <div class="card1 card">
                <div class="banner">
                        <img src="/static/image/chatImage.png" alt="Image 1" class="resize-image">
                </div>
                <a id="btn-home">홈으로</a>
            </div>
        <div class="card2 card">
        <% for (let i = 0; i < chatLists.length; i++) { %>
        <% if (chatLists[i].c_title1 != user.nickname) { %>
        <button id="one_button" onclick="goToChatRoom('<%= chatLists[i].c_seq %>', '<%= user.id %>')">
            <%= chatLists[i].c_title1 %>
            <% } else { %>
            <button id="two_button" onclick="goToChatRoom('<%= chatLists[i].c_seq %>', '<%= user.id %>')">
                <%= chatLists[i].c_title2 %>
                <% } %>
                <% if (chatLists[i].unreadcnt !== 0 && chatLists[i].last_user !== user.u_seq) { %>
                <span class="notification" id="unreadCount_<%= chatLists[i].c_seq %>">
                    <%= chatLists[i].unreadcnt %>
                </span>
                <% } %>
            </button>

        <% } %>
            </div>
        </div>
        </div>
</body>
<script>
    function goToChatRoom(c_seq, id) {
        const url = `/chats/rooms/${c_seq}?id=${id}`;
        window.location.href = url;
    }
</script>
    <script>
        
        (async () => {
            const accessToken = localStorage.getItem("accessToken");
            if (!accessToken) {
                window.location.href = "/users/signin";
            } else {
                const response = await axios({
                    method: "POST",
                    url: "/users/accesstoken",
                    headers: {
                        Authorization: `Bearer ${accessToken}`,
                    },
                });

                if(response.data.id != '<%= user.id %>'){
                    window.location.href = '/';
                }
                document.getElementById("btn-home").addEventListener("click", function () {
                    window.location.href = "/";
            });
            }
        })();
    </script>
</html>
