<!-- 채팅방 ejs -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <%-include('../include/head')%>

        <link rel="stylesheet" href="/static/css/chat.css" />
        <title>Chat</title>
    </head>
    <body>
        <%-include('../include/header')%>
        <div class="container-out">
        <div class="container-in">
        <div id="chatList">
            <h2>Chat Rooms</h2>
            <div>
                <% for (let i = 0; i < chatLists.length; i++) { %>
                    <div id="chatbuttonlist">
                        <% if (chatLists[i].c_title1 != nickname) { %>
                            <button class="long-button" onclick="goToChatRoom('<%= chatLists[i].c_seq %>', '<%= id %>')">
                                <img src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMTEwMTRfMjIw%2FMDAxNjM0MTM5NDUyMTMw.LQliGvqqaeaScoAJQOYq3WhxapwGyjZjsfPSBMAuiYEg.WRu1NpNPXpJyMesthhuzSfogPnMFihMCGj9917c_PXog.JPEG.empl%2FIMG_7576.jpg&type=a340" style="width: 60px; height: 60px; border-radius: 50%;" alt="이미지_설명"> <%= chatLists[i].c_title1 %>
                        <% } else { %>
                            <button class="long-button" onclick="goToChatRoom('<%= chatLists[i].c_seq %>', '<%= id %>')">
                                <img src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMTEwMTRfMjIw%2FMDAxNjM0MTM5NDUyMTMw.LQliGvqqaeaScoAJQOYq3WhxapwGyjZjsfPSBMAuiYEg.WRu1NpNPXpJyMesthhuzSfogPnMFihMCGj9917c_PXog.JPEG.empl%2FIMG_7576.jpg&type=a340" style="width: 60px; height: 60px; border-radius: 50%;"alt="이미지_설명"> <%= chatLists[i].c_title2 %>
                        <% } %>
                        <!-- 읽지 않은 메세지의 값이 0이 아니고 last_user 값이 현재 사용자와 다를 때  -->
                        <% if (chatLists[i].unreadcnt !== 0 && chatLists[i].last_user !== u_seq) { %>
                            <span class="notification" id="unreadCount_<%= chatLists[i].c_seq %>">
                                <%= chatLists[i].unreadcnt %>
                            </span>
                        <% } %>
                            </button>
                    </div>
                <% } %>
                
            </div>
            
        </div>

        <div id="chatRoom">
            <div id="chat-title-box"><h1 id="chat-title">
                <% if (c_title.c_title1 != nickname) { %>
                    <p><%= c_title.c_title1  %></p>
                        <% } else { %>
                            <p><%= c_title.c_title2  %></p>
                            <% } %>
            </h1>
        </div>
            <div id="messages">
                <% messages.forEach(message => { %>
                <p class="message <%= message.u_seq ==u_seq ? 'my-message' : 'other-message' %>">
                    <%= message.content %>
                </p>
                <% }); %>
            </div>
            <form id="messageForm">
                <input type="text" id="messageInput" placeholder="Type your message" />
                <button id="sendButton" type="submit">Send</button>
            </form>
            <button id="exitButton">Exit</button>
        </div>
    </div>
        <div id="unreadMessages"></div>
    </div>
        <script>
            (async () => {
                const accessToken = localStorage.getItem("accessToken");
    
                let data = "";
                if (!accessToken) {
                    window.location.href = "/users/signin";
                } else {
                    const response = await axios({
                        method: "POST",
                        url: "/users/accesstoken",
                        headers: {
                            Authorization: `Bearer ${accessToken}`,
                        },
                    });
                    if(response.data.id != '<%= id %>'){
                        // 로그인된 사용자가 url로 타인의 채팅방 리스트에 접근할 경우
                        window.location.href = '/';
                    }
                    
                    // 오진님 코드
                    //if (response.data.result) {
                    //    u_seq = "<%= u_seq %>";
                    //    c_title1 = "<%= c_title.c_title1 %>";
                    //    c_title2 = "<%= c_title.c_title2 %>";
                    //    if (response.data.u_seq == u_seq) {
                    //        const chatTitle = document.getElementById("chat-title");
                    //        chatTitle.textContent = c_title2;
                    //        const chatList = document.getElementById("chat-list");
                    //        chatList.textContent = c_title2;
                    //    } else {
                    //        const chatTitle = document.getElementById("chat-title");
                    //       chatTitle.textContent = c_title1;
                    //        const chatList = document.getElementById("chat-list");
                    //        chatList.textContent = c_title1;
                    //    }
                    //}
                }
            })();
        </script>
        <script>
            function goToChatRoom(c_seq, id) {
                const url = `/chats/rooms/${c_seq}?id=${id}`;
                window.location.href = url;
            }
        </script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js"></script>
        <script>
            const socket = io();

            joinUser("<%= c_seq %>", "<%= u_seq %>"); // 클라이언트가 접속하면 채팅방/유저 번호를 서버에게 송신

            readMessage("<%= c_seq %>", "<%= u_seq %>");
            // 메세지를 읽었을 때 호출되는 함수
            function readMessage(c_seq, u_seq) {
                socket.emit("readMessage", { c_seq, u_seq });
            }

            function joinUser(c_seq, u_seq) {
                socket.emit("join", { c_seq, u_seq });
            }

            const messageForm = document.getElementById("messageForm");
            const messageInput = document.getElementById("messageInput");

            // 메세지 전송 이벤트
            messageForm.addEventListener("submit", (e) => {
                e.preventDefault();
                const content = messageInput.value.trim();
                if (content !== "") {
                    // 메세지 송신 이벤트: 클라이언트 -> 서버
                    socket.emit("sendMessage", {
                        c_seq: "<%= c_seq %>",
                        content,
                        u_seq: "<%= u_seq %>",
                        isread: 0,
                    });
                    messageInput.value = "";
                }
                readMessage("<%= c_seq %>", "<%= u_seq %>");
            });

            // 메세지 수신 이벤트: 서버 -> 클라이언트
            socket.on("newMessage", (message) => {
                const messagesDiv = document.getElementById("messages");
                const p = document.createElement("p");

                p.className = `message ${
                    message.u_seq === "<%= u_seq %>" ? "my-message" : "other-message"
                }`;
                p.textContent = message.content;
                messagesDiv.appendChild(p);

                messagesDiv.scrollTop = messagesDiv.scrollHeight;
            });

            const exitButton = document.getElementById("exitButton");
            exitButton.addEventListener("click", () => {
                // 해당 채팅방 채널을 나가기 위해 서버로 c_seq 값을 보냄
                socket.emit("leave", "<%= c_seq %>");
                window.location.href = "/chats/lists/<%=id%>"; // 채팅방 목록 페이지로 이동
            });
        </script>
    </body>
</html>
