<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <%-include('../include/head')%>
        <%-include('../include/header')%>
        <link rel="stylesheet" href="/static/css/chat.css" />
        <title>Chat</title>
    </head>
    <body>
        <div class="container-out">
        <div class="container-in">
        <div id="chatList">
            <h2>Chat Rooms</h2>
            <div>
                <% for (let i = 0; i < chatLists.length; i++) { %>
                    <div id="chatbuttonlist">
                        <% if (chatLists[i].c_title1 != user.nickname) { %>
                            <button class="long-button" onclick="goToChatRoom('<%= chatLists[i].c_seq %>', '<%= user.id %>')">
                                <img src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMTEwMTRfMjIw%2FMDAxNjM0MTM5NDUyMTMw.LQliGvqqaeaScoAJQOYq3WhxapwGyjZjsfPSBMAuiYEg.WRu1NpNPXpJyMesthhuzSfogPnMFihMCGj9917c_PXog.JPEG.empl%2FIMG_7576.jpg&type=a340" style="width: 60px; height: 60px; border-radius: 50%;" alt="이미지_설명"> <%= chatLists[i].c_title1 %>
                        <% } else { %>
                            <button class="long-button" onclick="goToChatRoom('<%= chatLists[i].c_seq %>', '<%= user.id %>')">
                                <img src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMTEwMTRfMjIw%2FMDAxNjM0MTM5NDUyMTMw.LQliGvqqaeaScoAJQOYq3WhxapwGyjZjsfPSBMAuiYEg.WRu1NpNPXpJyMesthhuzSfogPnMFihMCGj9917c_PXog.JPEG.empl%2FIMG_7576.jpg&type=a340" style="width: 60px; height: 60px; border-radius: 50%;"alt="이미지_설명"> <%= chatLists[i].c_title2 %>
                        <% } %>
                        <% if (chatLists[i].unreadcnt !== 0 && chatLists[i].last_user !== user.u_seq) { %>
                            <span class="notification" id="unreadCount_<%= chatLists[i].c_seq %>">
                                <%= chatLists[i].unreadcnt %>
                            </span>
                        <% } %>
                            </button>
                    </div>
                <% } %>
                
            </div>
            
        </div>
        
        <div id="chatRoom">
            <div id="chat-title-box"><h1 id="chat-title">
                <% if (c_title[0] != user.nickname) { %>
                    <p id="kmtitle"><%= c_title[0]  %></p>
                        <% } else { %>
                            <p><%= c_title[1]  %></p>
                            <% } %>
            </h1>
            <button id="mannerButton" onclick="openPopup()">매너 평가</button>
            <div class="popup" id="ratingPopup">
                <span class="close-btn" onclick="closePopup()">X</span>
                <div class="popup-content">
                <h5>상대방과의 대화는 어떠셨나요?</h5>
                <div id="star-rating" class="star-rating">
                </div>
                <button onclick="submitRating()">평가 제출</button>
                </div>
            </div>
        </div>
            <div id="messages">
                <% messages.forEach(message => { %>
                <p class="message <%= message.u_seq == user.u_seq ? 'my-message' : 'other-message' %>">
                    <%= message.content %>
                </p>
                <% }); %>
            </div>
            <form id="messageForm">
                <input type="text" id="messageInput" placeholder="Type your message" />
                <button id="sendButton" type="submit">Send</button>
            </form>
            <button id="exitButton">Exit</button>
        </div>
    </div>
        <div id="unreadMessages"></div>
    </div>
        <script>
            (async () => {
                const accessToken = localStorage.getItem("accessToken");
    
                let data = "";
                if (!accessToken) {
                    window.location.href = "/users/signin";
                } else {
                    const response = await axios({
                        method: "POST",
                        url: "/users/accesstoken",
                        headers: {
                            Authorization: `Bearer ${accessToken}`,
                        },
                    });
                    if (response.data.result) {
                    const kmtitle = document.getElementById("kmtitle");
                    const newTextNode = document.createElement("span");
                    newTextNode.textContent = '<%=distance %>km';
                    newTextNode.classList.add("new-text");
                    kmtitle.appendChild(newTextNode);
                }
                    if(response.data.id != '<%= user.id %>'){
                        window.location.href = '/';
                    }
                }
            })();
        </script>
        <script>
            function goToChatRoom(c_seq, id) {
                const url = `/chats/rooms/${c_seq}?id=${id}`;
                window.location.href = url;
            }
        </script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js"></script>
        <script>
            const socket = io();

            joinUser("<%= c_seq %>", "<%= user.u_seq %>");

            readMessage("<%= c_seq %>", "<%= user.u_seq %>");

            function readMessage(c_seq, u_seq) {
                socket.emit("readMessage", { c_seq, u_seq });
            }

            function joinUser(c_seq, u_seq) {
                socket.emit("join", { c_seq, u_seq });
            }

            const messageForm = document.getElementById("messageForm");
            const messageInput = document.getElementById("messageInput");

            messageForm.addEventListener("submit", (e) => {
                e.preventDefault();
                const content = messageInput.value.trim();
                if (content !== "") {
                    socket.emit("sendMessage", {
                        c_seq: "<%= c_seq %>",
                        content,
                        u_seq: "<%= user.u_seq %>",
                        isread: 0,
                    });
                    messageInput.value = "";
                }
                readMessage("<%= c_seq %>", "<%= user.u_seq %>");
            });

            socket.on("newMessage", (message) => {
                const messagesDiv = document.getElementById("messages");
                const p = document.createElement("p");

                p.className = `message ${
                    message.u_seq === "<%= user.u_seq %>" ? "my-message" : "other-message"
                }`;
                p.textContent = message.content;
                messagesDiv.appendChild(p);

                messagesDiv.scrollTop = messagesDiv.scrollHeight;
            });

            const exitButton = document.getElementById("exitButton");
            exitButton.addEventListener("click", () => {
                socket.emit("leave", "<%= c_seq %>");
                window.location.href = "/chats/lists/<%=user.id%>";
            });
        </script>
<script>
    let selectedRating = 0;

    async function openPopup() {
        let receiverNick = "";
    if('<%=user.nickname%>' != '<%=c_title[0]%>'){
        receiverNick = '<%=c_title[0]%>';
    }else{
        receiverNick = '<%=c_title[1]%>';
    }
        const response = await axios.post("/reviews/check",{
            receiverNick: receiverNick,
            sender: "<%= user.u_seq %>",
            score: selectedRating,
        });
        if(!response.data.result){
            alert(response.data.message);
            closePopup();
        }else{
    document.getElementById('ratingPopup').style.display = 'flex';
    displayStars();
    }
}

    function closePopup() {
    document.getElementById('ratingPopup').style.display = 'none';
    }

    function setRating(rating) {
    selectedRating = rating;
    displayStars();
    }

    function displayStars() {
    const starContainer = document.getElementById('star-rating');
    starContainer.innerHTML = '';

    for (let i = 1; i <= 5; i++) {
    const star = document.createElement('span');
    star.innerHTML = (i <= selectedRating) ? '★' : '☆';
    star.addEventListener('click', () => setRating(i));
    starContainer.appendChild(star);
    }
    }

    async function submitRating() {
    let receiverNick = "";
    if('<%=user.nickname%>' != '<%=c_title[0]%>'){
        receiverNick = '<%=c_title[0]%>';
    }else{
        receiverNick = '<%=c_title[1]%>';
    }
    const response = await axios.post("/reviews",{
            receiverNick: receiverNick,
            sender: "<%= user.u_seq %>",
            score: selectedRating,
        });
    alert(response.data.message);
    closePopup();
    }
</script>

    </body>
</html>
