<!-- 게시글 목록 페이지 ejs -->
<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>게시글 목록</title>
        <%-include('../include/head')%>
        <link rel="stylesheet" href="/static/css/postList.css" />
    </head>
    <body>
        <%-include('../include/header')%>
        <br />
        <br />
        <div class="container-in">
            <div class="iconSection">
                <a href="/posts/list" class=""
                    ><img
                        src="/static/image/region/region_0.png"
                        alt="전체지역이미지" /><span></span
                ></a>
                <a href="/posts/서울" class=""
                    ><img
                        src="/static/image/region/region_1.png"
                        alt="서울지역이미지" /><span></span
                ></a>
                <a href="/posts/경기도" class=""
                    ><img
                        src="/static/image/region/region_2.png"
                        alt="경기도지역이미지" /><span></span
                ></a>
                <a href="/posts/강원도" class=""
                    ><img
                        src="/static/image/region/region_3.png"
                        alt="강원도지역이미지" /><span></span
                ></a>
                <a href="/posts/충청북도" class=""
                    ><img
                        src="/static/image/region/region_5.png"
                        alt="충청북도지역이미지" /><span></span
                ></a>
                <a href="/posts/충청남도" class=""
                    ><img
                        src="/static/image/region/region_4.png"
                        alt="충청남도지역이미지" /><span></span
                ></a>
                <a href="/posts/전라북도" class=""
                    ><img
                        src="/static/image/region/region_6.png"
                        alt="전라북도지역이미지" /><span></span
                ></a>
                <a href="/posts/전라남도" class=""
                    ><img
                        src="/static/image/region/region_7.png"
                        alt="전라남도지역이미지" /><span></span
                ></a>
                <a href="/posts/경상북도" class=""
                    ><img
                        src="/static/image/region/region_9.png"
                        alt="경상북도지역이미지" /><span></span
                ></a>
                <a href="/posts/경상남도" class=""
                    ><img
                        src="/static/image/region/region_8.png"
                        alt="경상남도지역이미지" /><span></span
                ></a>
                <a href="/posts/제주도" class=""
                    ><img
                        src="/static/image/region/region_10.png"
                        alt="제주도지역이미지" /><span></span
                ></a>
            </div>
            <br />
            <br />
            <div id="post-header">
                <form class="d-flex" role="search">
                    <input
                        class="Search"
                        type="search"
                        placeholder="Search"
                        aria-label="Search"
                        id="search-input"
                    />
                    <button id="btn-post-search" onclick="search()" type="button">
                        <i class="bi bi-search"></i>
                    </button>
                </form>
                <a id="btn-post" type="submit" href="../../posts"> 글쓰기 </a>
            </div>
            <div class="image-container">
                <% for(let i = 0; i < postList.length ;i++){ %>
                <div class="post">
                    <a href="/posts/detail/<%=postList[i].p_seq %>">
                        <img
                            src="/uploads/<%= postList[i].file %>"
                            alt="Placeholder Image"
                            class="thumbnail"
                            onerror="this.onerror=null; this.src='/static/image/placeholder.png';"
                        />
                        <div class="deal" style="display: inline-block">
                            <% if (postList[i].deal_type == '1') { %>
                            <span style="font-weight: bold; color: green">&nbsp구해요&nbsp</span>
                            <% } else { %>
                            <span style="font-weight: bold; color: orange">사드려요</span>
                            <% } %>
                        </div>

                        <div class="title" style="display: inline-block">
                            <%= postList[i].title.length > 5 ? postList[i].title.substring(0, 5) +
                            '...' : postList[i].title %>
                        </div>
                        <div class="category"><%=postList[i].category%></div>
                        <div class="author"><%=postList[i].User.nickname%></div>
                    </a>
                </div>
                <% } %>
            </div>
        </div>
        <script>
            function search() {
                const input = document.getElementById("search-input").value;
                const currentPath = window.location.pathname; // 현재 경로 가져오기

                if (currentPath.includes("/list")) {
                    const url = "/posts/list/search?keyword=" + encodeURIComponent(input);
                    document.location.href = url;
                } else if (currentPath.includes("/posts/")) {
                    const category = currentPath.split("/")[2]; // 카테고리명 추출
                    const url = `/posts/search/${category}?keyword=` + encodeURIComponent(input);
                    document.location.href = url;
                }
            }
        </script>
    </body>
</html>
