<!-- 게시글 목록 페이지 ejs -->
<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>게시글 목록</title>
        <%-include('../include/head')%>
        <link rel="stylesheet" href="/static/css/postList.css" />
    </head>
    <body>
        <%-include('../include/header')%>
        <br />
        <br />
        <div id="post-header">
            <form class="d-flex" role="search">
                <input
                    class="Search"
                    type="search"
                    placeholder="Search"
                    aria-label="Search"
                    id="search-input"
                />
                <button id="btn-post-search" onclick="search()" type="button">
                    <i class="bi bi-search"></i>
                </button>
            </form>
            <a id="btn-post" type="submit" href="../../posts"> 글쓰기 </a>
        </div>
        <br />
        <table border="1" cellspacing="0">
            <thead>
                <tr>
                    <th>순번</th>
                    <th>제목</th>
                    <th>내용</th>
                    <th>지역</th>
                    <th>작성자</th>
                </tr>
            </thead>
            <tbody>
                <% for(let i = 0; i < postList.length ;i++){ %>
                <tr id="tr_<%=postList[i].id %>">
                    <td><%=postList[i].p_seq %></td>
                    <td>
                        <a id="btn-title" href="/posts/detail/<%=postList[i].p_seq %>">
                            <%=postList[i].title %>
                        </a>
                    </td>
                    <td><%=postList[i].content %></td>
                    <td><%=postList[i].category%></td>
                    <td><%=postList[i].User.nickname%></td>
                </tr>
                <% } %>
            </tbody>
        </table>
        <div class="board_page">
            <a href="#" class="bt first"><<</a>
            <a href="#" class="bt prev"><</a>
            <a href="#" class="num on">1</a>
            <a href="#" class="num">2</a>
            <a href="#" class="num">3</a>
            <a href="#" class="num">4</a>
            <a href="#" class="num">5</a>
            <a href="#" class="bt next">></a>
            <a href="#" class="bt last">>></a>
        </div>
        <script>
            function search() {
                const input = document.getElementById("search-input").value;
                const currentPath = window.location.pathname; // 현재 경로 가져오기

                if (currentPath.includes("/list")) {
                    const url = "/posts/list/search?keyword=" + encodeURIComponent(input);
                    document.location.href = url;
                } else if (currentPath.includes("/posts/")) {
                    const category = currentPath.split("/")[2]; // 카테고리명 추출
                    const url = `/posts/search/${category}?keyword=` + encodeURIComponent(input);
                    document.location.href = url;
                }
            }
        </script>
    </body>
</html>
