<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>방방곡곡</title>
        <%-include('../include/head')%>
        <link rel="stylesheet" href="/static/css/profile.css" />
    </head>
    <body>
        <%-include('../include/header')%>
        <div class="container-out">
            <div><h3 class="container-name"><%=data.nickname%>님의 마이페이지</h3></div>
        </div>
        <div class="container-in">
            <div class="card1 card">
                <div class="banner">
                    <div class="profile"></div>
                </div>
                <div><h2 class="name"><%=data.name%></h2></div>
                <div><h2 class="id"><%=data.nickname%></h2></div>
                <br />
                <br />
                <div class="button-group">
                    <a id="btn-edit">Edit</a>
                    <a id="btn-myBoard">내가 쓴 글</a>
                </div>
            </div>
            <div class="card2 card">
                <br />
                <% for(let i = 0; i < myPosts.length ;i++){ %>
                <p class="card2-title">&nbsp;&nbsp;<%=myPosts[i].title%></p>
                <p class="card2-content">&nbsp;&nbsp;&nbsp;&nbsp;<%=myPosts[i].content%></p>
                <p class="card2-date">&nbsp;&nbsp;&nbsp;&nbsp;<%=myPosts[i].date%></p>
                <hr />
                <% } %>
            </div>
        </div>

        <!-- <h1><%#=data.name%></h1>
<h1><%#=data.id%></h1>
<h1><%#=data.email%></h1>
<h1><%#=data.nickname%></h1> -->
        <script>
            (async () => {
                const accessToken = localStorage.getItem("accessToken");

                let data = "";
                if (!accessToken) {
                    data = '<a href="/users/signin">로그인</a>';
                } else {
                    const response = await axios({
                        method: "POST",
                        url: "/users/accesstoken",
                        headers: {
                            Authorization: `Bearer ${accessToken}`,
                        },
                    });
                    if (response.data.result) {
                        // 사용자 이름을 포함한 데이터 생성

                        // 로그인 버튼을 로그아웃 버튼으로 변경
                        const editButton = document.getElementById("btn-edit");
                        editButton.href = `/users/profile/${response.data.id}`;

                        const boardButton = document.getElementById("btn-myBoard");
                        boardButton.href = `/users/mypost/${response.data.id}`;
                    }
                }
                // info.innerHTML = data; // 로그인 버튼 나오도록 하기
            })();
        </script>
    </body>
</html>
